name: Publish

on:
  push:
    branches: [main]
    paths:
      - '.release-please-manifest.json'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astrale-os/config/.github/actions/publish/npm@main
        with:
          scope: '@astrale'
          access: 'restricted'
          token: ${{ github.token }}
